#def-box {
    display: none;
    position: absolute;
    text-align: left;
    max-width: 600px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-family: helvetica, sans-serif;
    color: black;
    background: #f7f7f7;
    border: solid 1px grey;
    border-radius: 4px;
    opacity: 0.9;
}

#def-box .termDetail {
    background-color: #ecf2f8;
    margin-left: 10px;
    padding: 5px;
    border: solid 1px lightgrey;
}

#def-box .table1 {
    font-size: 12px;
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
}

#def-box.table1 tr,
#def-box .t able1 td {
    margin: 0px;
    padding: 0px;
}

#def-box .termref {
    color: red;
}

#def-box button {
    background: none;
    color: grey;
    border: 0;
    cursor: pointer;
    border-radius: 0.25em;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    outline: 0;
}

#def-box button:hover {
    cursor: pointer;
    color: red;
    background-color: #d0e1e1;
}

#def-box .linkButton {
    background: none;
    color: blue;
    padding: 0px;
    border: none;
    font-size: 1.0em;
    font-style: normal;
    margin: 0px;
}

#def-box .linkButton:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

#def-box #closeAllTermsButton {
    float: right;
}

#def-box .closeButton {
    float: right;
}

#def-box .closeButton:disabled {
    color: transparent;
}

#def-box .closeButton:hover {
    cursor: pointer;
    color: red;
}

#def-box .graphButton {
    font-family: "Century Gothic";
}

#def-box .termName {
    font-size: 1.3em;
    /*
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fdfdfd), color-stop(1, #eeeeee));
  */
}

#def-box .termData,
#def-box .termData-active {
    border: 1px;
    border-style: solid;
    border-color: lavender;
    padding: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, 0.95);
}

#def-box .termData {
    background-color: rgba(255, 255, 255, 0.95);
}

#def-box .termData-active {
    /*background-color:rgba(204, 229, 255,0.95);*/
    /*border:1px;
  border-style :solid;
  border-color: blue;
*/
}

#def-box .defownterm {
    font-weight: bold;
}